<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>msp940366</Name>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vbXNwOTQwMzY2LmNybS5keW5hbWljcy5jb20vO1VzZXJuYW1lPWFkbWluQG1zcDk0MDM2Ni5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J3Bhc3NAd29yZDEnOw==</ConnectionString>
      <Version>8.1.0.526</Version>
    </Connection>
    <Connection>
      <Name>PfeCertAuth</Name>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vcGZlY2VydGF1dGguY3JtLmR5bmFtaWNzLmNvbTtVc2VybmFtZT10eWhvZ3NldEBwZmVjcm1vbmxpbmUub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdCcm9Zb0Jyby0xNyc7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.2.1.360</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/pages/form/navigation/index.html</Path>
      <WebResourceId>204e2fb1-6ea7-e611-80e1-c4346bad367c</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/index.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/pages/form/navigation/js/app.js</Path>
      <WebResourceId>c1aa4cbd-6ea7-e611-80e1-c4346bad367c</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/js/app.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/pages/form/navigation/css/style.css</Path>
      <WebResourceId>0de701b5-8fa7-e611-80e1-c4346bad367c</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/css/style.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/libraries/crm_sdk/get_entity_set_name.js</Path>
      <WebResourceId>c0d04113-0fbc-e611-80e5-c4346bacbf10</WebResourceId>
      <WebResourceName>har_/libraries/crm_sdk/get_entity_set_name.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/libraries/crm_sdk/get_entity_set_name.js</Path>
      <WebResourceId>7123d12b-0fbc-e611-80e5-c4346bacbf10</WebResourceId>
      <WebResourceName>ths_/libraries/crm_sdk/get_entity_set_name.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>48846fac-599e-4da0-9e20-6eb6d3e17601</OrgId>
      <Path>/pages/form/navigation/js/something.js</Path>
      <WebResourceId>832b6dab-d7bc-e611-80e6-c4346bad367c</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/js/something.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/common/web/get_query_parameters.js</Path>
      <WebResourceId>b90e176f-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/common/web/get_query_parameters.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/crm_sdk/get_client_url.js</Path>
      <WebResourceId>6dc23387-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/crm_sdk/get_client_url.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/crm_sdk/request.js</Path>
      <WebResourceId>bdb8018f-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/crm_sdk/request.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/crm_sdk/retrieve_version.js</Path>
      <WebResourceId>037dc097-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/crm_sdk/retrieve_version.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/crm_sdk/version_manager.js</Path>
      <WebResourceId>f771ad9f-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/crm_sdk/version_manager.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/libraries/promise/promise.min.js</Path>
      <WebResourceId>7fd288a8-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/libraries/promise/promise.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/pages/form/navigation/css/style.css</Path>
      <WebResourceId>2a2ab3ae-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/css/style.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/pages/form/navigation/index.html</Path>
      <WebResourceId>2d2ab3ae-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/index.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>f37f727d-9815-48e5-8679-1237a40f5419</OrgId>
      <Path>/ths_/pages/form/navigation/js/app.js</Path>
      <WebResourceId>91e5c0b4-639d-e711-810a-5065f38a9b71</WebResourceId>
      <WebResourceName>ths_/pages/form/navigation/js/app.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>